apiVersion: v1
kind: Service
metadata:
  name: chatbot-app
  labels:
    app: chatbot-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8501
    protocol: TCP
    name: http
  selector:
    app: chatbot-app
